section.advantages
	.qodef-content-grid
		main.qodef-grid.qodef-layout--template
			.qodef-grid-inner.clear
				.qodef-grid-item.qodef-page-content-section.qodef-col--12
					.container.advantages__container
						+title('Будьте уверены - ваше <br>' +
						'мероприятие пройдет <br>' +
						'на самом высоком уровне', '', 'advantages__title')
						.advantages__grid
							.advantages__item
								p.digit 01
								p.text Более 7 лет <br>проводим <br>прямые эфиры
							.advantages__item
								p.digit 02
								p.text Есть свой <br>интернет <br> и усилитель <br>сигнала
							.advantages__item
								p.digit 03
								p.text Разрабатываем <br>и внедряем квизы <br> с качественным <br>оформлением
							.advantages__item
								p.digit 04
								p.text Предоставляем <br>большой выбор <br><span style='white-space: nowrap;'>TOP-модераторов</span>
							.advantages__item
								p.digit 05
								p.text Организуем <br>синхронный <br>перевод <br> на любые <br>языки
							.advantages__item
								p.digit 06
								p.text Высококлассный <br>режиссерский <br>монтаж <br> и оформление <br> в прямом эфире