section.advantages.advantages2
	.qodef-content-grid
		main.qodef-grid.qodef-layout--template
			.qodef-grid-inner.clear
				.qodef-grid-item.qodef-page-content-section.qodef-col--12
					.container.advantages__container
						+title('Наши гарантии\n' +
						'<br>и опыт', '', 'advantages__title')
						.advantages2__grid
							.advantages2__item
								.advantages2__item-inner
									p.digit 01
									.advantages2__content
										p.text Сочетаем <br> все технологии <br> дизайна
										p.subtext Находясь на стыке дисциплин видео  отрасли и дизайна, мы создаем не просто качественный видеоряд, но и предлагаем яркие визуальные решение для оформления вашего проекта при помощи моушен графики.
							.advantages2__item
								.advantages2__item-inner
									p.digit 02
									.advantages2__content
										p.text Обеспечим эфир <br>там, где не ловит <br>интернет
										p.subtext У нас есть свой интернет и усилитель 	сигнала, поэтому если уж захотите, то даже в подвале сможем вывести вас в прямой эфир.
							.advantages2__item
								.advantages2__item-inner
									p.digit 03
									.advantages2__content
										p.text Мультистрим <br>на любые <br>платформы
							.advantages2__item
								.advantages2__item-inner
									p.digit 04
									.advantages2__content
										p.text Персональная <br>ответственность <br>креативного <br>директора
										p.subtext Креативный директор полностью отвечает  за реализацию вашего проекта от стадии концепции до его выпуска, именно персо&shy;нальная ответственность позволяет достигать самого высокого качества результатов.
							.advantages2__item
								.advantages2__item-inner
									p.digit 05
									.advantages2__content
										p.text Кинемато-<br>графичность
										p.subtext Вы же заметили, что “киношная” картинка вызывает особенный интерес, тогда как телевизионная - нет. У нас еть все необ&shy;ходимое оборудование, чтобы получить результат “большого кино” - это всегда и красиво, и увлекательно.
							.advantages2__item
								.advantages2__item-inner
									p.digit 06
									.advantages2__content
										p.text Предложим <br> концептуальную <br> локацию <br> для съемок
										p.subtext Вышлем большую подборку интерьеров, которые будут отвечать концепции вашего выступления: строгий медицинский кабинет, домашний диван с креслами, яркая студия в стиле модерн - более 40 вариантов по Москве, а также студия с хромакей, если захотите свой готовый фон.