section.advantages
	.qodef-content-grid
		main.qodef-grid.qodef-layout--template
			.qodef-grid-inner.clear
				.qodef-grid-item.qodef-page-content-section.qodef-col--12
					.container.advantages__container
						+title('Будьте уверены - ваше <br>' +
						'мероприятие пройдет <br>' +
						'на самом высоком уровне', '', 'advantages__title')
						.advantages__grid
							.advantages__item
								p.digit 01
								p.text Более 7 лет проводим прямые эфиры
							.advantages__item
								p.digit 02
								p.text Есть свой интернет <br> и усилитель сигнала
							.advantages__item
								p.digit 03
								p.text Разрабатываем и внедряем квизы <br> с качественным оформлением
							.advantages__item
								p.digit 04
								p.text Предоставляем большой выбор <span style='white-space: nowrap;'>TOP-модераторов</span>
							.advantages__item
								p.digit 05
								p.text Организуем синхронный перевод <br> на любые языки
							.advantages__item
								p.digit 06
								p.text Высококлассный режиссерский монтаж <br> и оформление <br> в прямом эфире