section.advantages
	.qodef-content-grid
		main.qodef-grid.qodef-layout--template
			.qodef-grid-inner.clear
				.qodef-grid-item.qodef-page-content-section.qodef-col--12
					.container.advantages__container
						+title('Наши гарантии\n' +
						'<br>и опыт', '', 'advantages__title')
						.advantages__grid
							.advantages__item.advantages__item--type-2
								p.digit 01
								p.text Сочетаем <br> все технологии <br> дизайна
								p.subtext Находясь на стыке дисциплин видео <br> отрасли и дизайна, мы создаем <br>не просто качественный видеоряд, <br>но и предлагаем яркие визуальные <br>решение для оформления вашего <br>проекта при помощи моушен графики.
							.advantages__item.advantages__item--type-2
								p.digit 02
								p.text Обеспечим эфир <br>там, где не ловит <br>интернет
								p.subtext У нас есть свой интернет и усилитель <br>	сигнала, поэтому если уж захотите, то даже в подвале сможем вывести вас в прямой эфир.
							.advantages__item.advantages__item--type-2
								p.digit 03
								p.text Мультистрим <br>на любые <br>платформы
							.advantages__item.advantages__item--type-2
								p.digit 04
								p.text Персональная <br>ответственность <br>креативного <br>директора
								p.subtext Креативный директор полностью отвечает <br> за реализацию вашего проекта от стадии <br>концепции до его выпуска, именно персо-<br>нальная ответственность позволяет <br>достигать самого высокого качества <br>результатов.
							.advantages__item.advantages__item--type-2
								p.digit 05
								p.text Кинемато-<br>графичность
								p.subtext Вы же заметили, что “киношная” картинка <br>вызывает особенный интерес, тогда как <br>телевизионная - нет. У нас еть все необ-<br>ходимое оборудование, чтобы получить <br>результат “большого кино” - это всегда <br>и красиво, и увлекательно.
							.advantages__item.advantages__item--type-2
								p.digit 06
								p.text Предложим <br> концептуальную <br> локацию <br> для съемок
								p.subtext Вышлем большую подборку интерьеров, <br>которые будут отвечать концепции вашего <br>выступления: строгий медицинский кабинет, <br>домашний диван с креслами, яркая студия <br>в стиле модерн - более 40 вариантов <br>по Москве, а также студия с хромакей, <br>если захотите свой готовый фон.