section.ec-section
    .qodef-content-grid
        main.qodef-grid.qodef-layout--template
            .qodef-grid-inner.clear
                .qodef-grid-item.qodef-page-content-section.qodef-col--12

                    .event-calc
                        .event-calc__section.event-calc__section--1
                            .event-calc__title Наш онлайн калькулятор составит вам смету прямо сейчас, и вы сразу сможете отправить ее в формате КП себе на почту
                            .event-calc__text Если вы сомневаетесь как заполнить калькулятор, чтобы рассчитать максимально точную стоимость вашего мероприятия, напишите в вотсап аккаунт менеджеру или позвоните ей, она поможет: <span class="nowrap-span">+7 /966/ 362-32-62</span>
                            .event-calc__hr
                            .event-calc__text Данная смета рассчитывается для всех онлайн мероприятий с выездом на локацию Заказчика, или мы сами можем предложить вам как конференцзал, так и небольшую студию, если зрителей “вживую” в любом случае не будет. В дополнительных услугах (ниже) вы сможете учесть приблизительный бюджет, а мы вам вышлем на почту варианты студий с ценами - за час или за день.

                        .event-calc__section.event-calc__section--2
                            .event-calc__subtitle Заполните все ячейки онлайн калькулятора
                            form.event-calc__form.ec-form(action="" method="POST" data-id="1")
                                .ec-form__section
                                    .ec-form__left
                                        .ec-form__title Сколько часов в сумме будет длиться ваше мероприятие? <br>Даже если оно длится несколько дней и делится на несколько потоков.
                                        .ec-form__text Например, мероприятие 2 дня, в 2-х залах - 5 часов в одном и 6 часов в другом будет рассчитано, как (5+6)*2 = 22 часа.
                                    .ec-form__right
                                        .ec-form__field.field
                                            input.required(type="text" required="required" name="es_field_1")
                                        .ec-form__error Заполните ячейку!
                                .ec-form__section
                                    .ec-form__left
                                        .ec-form__title Сколько дней будет проходить ваше мероприятие?
                                    .ec-form__right
                                        .ec-form__field.field
                                            input.required(type="text" required="required" name="es_field_2")
                                        .ec-form__error Заполните ячейку!
                                .ec-form__section
                                    .ec-form__left
                                        .ec-form__title Накладываются ли эти часы друг на друга? Другими словами, в рамках вашего мероприятия есть ли параллельные потоки? Если так, то сколько часов в рамках этого мероприятия будут параллельными?
                                        .ec-form__text Например, в одном зале 6 часов и в другом - 6 часов в то же самое время, значит кол-во параллельных часов = 6. Если нисколько, укажите цифру ноль!
                                    .ec-form__right
                                        .ec-form__field.field
                                            input.required(type="text" required="required" name="es_field_3")
                                        .ec-form__error Заполните ячейку!
                                .ec-form__section
                                    .ec-form__left
                                        .ec-form__title Вы хотите один ракурс, два или съемку сразу с трех камер? <br>Укажите 1, 2 или 3 камеры?
                                        .ec-form__text Чем больше ракурсов, тем динамичнее смена кадров и более увлекательно смотрится мероприятие. <br>Мы советуем заказывать 2 камеры - одна статичная на штативе лицом, другая подвижная работает с более крупными планами с других ракурсов - на стедикаме (подвижная камера), для более масштабных мероприятий - на кране или на рельсах.
                                    .ec-form__right
                                        .ec-form__field.field
                                            input.required.number-limit(type="text" required="required" name="es_field_4")
                                        .ec-form__error Заполните ячейку!
                                .ec-form__section
                                    .ec-form__left
                                        .ec-form__title Сколько будет спикеров вживую?
                                    .ec-form__right
                                        .ec-form__field.field
                                            input.required(type="text" required="required" name="es_field_5")
                                        .ec-form__error Заполните ячейку!
                                .ec-form__section
                                    .ec-form__left
                                        .ec-form__title Сколько будет подключаться спикеров?
                                    .ec-form__right
                                        .ec-form__field.field
                                            input.required(type="text" required="required" name="es_field_6")
                                        .ec-form__error Заполните ячейку!
                                .ec-form__section.ec-form__section--cols
                                    .ec-form__cols
                                        .ec-form__col
                                            .ec-form__col-field.field
                                                input.required(type="text" required="required" placeholder="ФИО" name="es_field_company")
                                            .ec-form__error КП должно быть персонифицировано, мы же делаем его именно для вас! <br>Заполните ячейку!
                                        .ec-form__col
                                            .ec-form__col-field.field
                                                input.required(type="text" required="required" placeholder="Название компании" name="es_field_company")
                                            .ec-form__error КП должно быть персонифицировано, мы же делаем его именно для вас! <br>Заполните ячейку!
                                        .ec-form__col
                                            .ec-form__col-field.field
                                                input.required(type="text" required="required" placeholder="Дата/даты проведения мероприятия" name="es_field_date")
                                            .ec-form__error Заполните дату, нам это важно, чтобы свериться с расписанием других забронированных мероприятий
                                        .ec-form__col
                                            .ec-form__col-field.field
                                                input.required(type="email" required="required" placeholder="E-mail, куда отправить КП в PDF" name="es_field_email")
                                            .ec-form__error Почта нужна, чтобы выслать вам КП. <br>Заполните ячейку!
                                .ec-form__info Примечание: расчет на проведение мероприятия в Москве. Мы выезжаем со своим оборудованием в другие города России по требованию. <br>Командировочные расходы рассчитает аккаунт менеджер.
                                .ec-form__btn
                                    button.ec-btn(type="submit") РАССЧИТАТЬ БАЗОВУЮ СТОИМОСТЬ МОЕГО МЕРОПРИЯТИЯ

                        .event-calc__section.event-calc__section--3
                            .ec-results
                                .ec-results__info
                                    .ec-results__col.ec-results__col--sep
                                        .ec-results__col-number (
                                    .ec-results__col.ec-results__col--1
                                        .ec-results__col-number 7.500 р./час * 24 часа
                                        .ec-results__col-text Ставка за час за комплект оборудования со съемочной группой с 1 камерой
                                    .ec-results__col.ec-results__col--5
                                        .ec-results__col-number &nbsp;+ 7.500 р.
                                    .ec-results__col.ec-results__col--2
                                        .ec-results__col-number &nbsp;* 12 часов
                                        .ec-results__col-text Параллельные часы/потоки
                                    .ec-results__col.ec-results__col--4
                                        .ec-results__col-number &nbsp;+ 2.000 р. * 3
                                        .ec-results__col-text Спикеры вживую
                                    .ec-results__col.ec-results__col--6
                                        .ec-results__col-number &nbsp;+ 10.000 р. * 3
                                        .ec-results__col-text Логистика за 1 день
                                    .ec-results__col.ec-results__col--sep
                                        .ec-results__col-number )
                                    .ec-results__col.ec-results__col--3
                                        .ec-results__col-number &nbsp;* 1.1 - <span>10% скидка</span>
                                        .ec-results__col-text Коэффициент количества спикеров <br>от 3 до 6
                                .ec-results__total
                                    .es-total
                                        div ИТОГО: 297.000 р.
                                        span.es-total__nds НДС <br>не облагается
                            .event-calc__hr.event-calc__hr--center

                        .event-calc__section.event-calc__section--4
                            .event-calc__subtitle Что включено в данную сумму
                            .ec-grid
                                .ec-grid__item
                                    .ec-grid__inner
                                        .ec-grid__bg-number 01
                                        .ec-grid__content
                                            .ec-grid__content-title Захват презентационных слайдов
                                .ec-grid__item
                                    .ec-grid__inner
                                        .ec-grid__bg-number 02
                                        .ec-grid__content
                                            .ec-grid__content-title Режиссер прямого эфира
                                            .ec-grid__content-text 1-2-3 и более в зависимости от кол-ва потоков и залов
                                .ec-grid__item
                                    .ec-grid__inner
                                        .ec-grid__bg-number 03
                                        .ec-grid__content
                                            .ec-grid__content-title Оператор прямого эфира
                                            .ec-grid__content-text 1-2-3 и более в зависимости от кол-ва камер
                                .ec-grid__item
                                    .ec-grid__inner
                                        .ec-grid__bg-number 04
                                        .ec-grid__content
                                            .ec-grid__content-title Сдаем материалы в записи в формате ролика
                                .ec-grid__item
                                    .ec-grid__inner
                                        .ec-grid__bg-number 05
                                        .ec-grid__content
                                            .ec-grid__content-title Камера 1 и более уровня SONY 7m3
                                .ec-grid__item
                                    .ec-grid__inner
                                        .ec-grid__bg-number 06
                                        .ec-grid__content
                                            .ec-grid__content-title Трансляция на бесплатный сервис
                                .ec-grid__item
                                    .ec-grid__inner
                                        .ec-grid__bg-number 07
                                        .ec-grid__content
                                            .ec-grid__content-title Мультистрим
                                .ec-grid__item
                                    .ec-grid__inner
                                        .ec-grid__bg-number 08
                                        .ec-grid__content
                                            .ec-grid__content-title Графическое оформление
                                .ec-grid__item
                                    .ec-grid__inner
                                        .ec-grid__bg-number 09
                                        .ec-grid__content
                                            .ec-grid__content-title Петлички по 1 шт. на 1 камеру
                                            .ec-grid__content-text Большее кол-во петличек или микрофон оплачиваются отдельно (ниже доп. услуги)
                                .ec-grid__item
                                    .ec-grid__inner
                                        .ec-grid__bg-number 10
                                        .ec-grid__content
                                            .ec-grid__content-title Ну и... <br>Супер опыт, конечно!
                            .event-calc__hr.event-calc__hr--center

                        .event-calc__section.event-calc__section--5
                            .event-calc__title Добавим еще опций к вашему мероприятию?
                            form.event-calc__options.ec-options(action="" method="POST")
                                .ec-options__flex
                                    .ec-options__left
                                        .checkbox
                                            input#add1(type='checkbox' name='add' value='Квиз (разработка и ведение)' data-price='45000')
                                            label(for='add1') + Квиз (разработка и ведение)
                                                .tooltip ?
                                            .price 45.000&nbsp;р.
                                            i.tooltiptext.tooltip-bottom Такую опцию чаще заказывают для онлайн корпоративов, чтобы развлечь сотрудников-зрителей, однако, иногда и организаторы деловых мероприятий хотят при помощи квиза повысить количество зрителей. Мы разработаем вопросы в тематике мероприятия с вариантами ответов, а также оформим квиз и внедрим в мероприятие онлайн. Не забывайте, что если есть квиз, то должен быть и ведущий, который сможет озвучивать все, что происходит на экране, рассказывать о призах за победу. Ведущий может быть или с нашей стороны, или ваш. В любом случае, если хотите квиз, выберите этот пункт, детали обсудим позже.
                                        .checkbox
                                            input#add2(type='checkbox' name='add' value='Работа с чатом, модерация' data-price='5000')
                                            label(for='add2') + Работа с чатом, модерация
                                            .price 5.000&nbsp;р.
                                        .checkbox
                                            input#add3(type='checkbox' name='add' value='Оформление заставки/ анимация логотипа' data-price='8000')
                                            label(for='add3') + Оформление заставки/ анимация логотипа
                                            .price 8.000&nbsp;р.
                                        .checkbox
                                            input#add4(type='checkbox' name='add' value='TOP-модератор/ведущий' data-price='80000')
                                            label(for='add4') + TOP-модератор/ведущий
                                                .tooltip ?
                                            .price от&nbsp;80.000&nbsp;р.
                                            i.tooltiptext.tooltip-bottom Мы подберем для вас ведущего бизнес-мероприятия, который лично провел более 100 мероприятий, получил несколько образований, в том числе по теме бизнеса,  возможно, работал на топовых должностях, а кто-то успешно ведет несколько своих бизнес-проектов и сейчас.
                                        .checkbox
                                            input#add5(type='checkbox' name='add' value='Разработка Тизера под мероприятие' data-price='35000')
                                            label(for='add5') + Разработка Тизера под мероприятие
                                                .tooltip ?
                                            .price 35.000&nbsp;р.
                                            i.tooltiptext.tooltip-bottom Выше можете еще раз посмотреть пример Тизера под мероприятие - это короткий ролик с современной анимацией под онлайн событие. Часто адаптируем под вертикальные форматы для сторисов в соцсетях.
                                        .checkbox
                                            input#add6(type='checkbox' name='add' value='Внедрение анимированной инфографики ' data-price='35000')
                                            label(for='add6') + Внедрение анимированной инфографики
                                                .tooltip ?
                                            .price от&nbsp;35.000&nbsp;р.
                                            i.tooltiptext.tooltip-bottom Если вы хотите более сложное визуальное оформление своего онлайн мероприятия - хотите анимированные заставки спикеров, более сложное intro (вступление), перебивки - мы сделаем все заготовки заранее и внедрим уже их по сценарию во время эфира. Точная стоимость определяется количеством таких заставок, уточним после обсуждения деталей.
                                        .checkbox
                                            input#add7(type='checkbox' name='add' value='Техническое обеспечение перевода на другие языки' data-price='5000')
                                            label(for='add7') + Техническое обеспечение перевода на другие языки
                                                .tooltip ?
                                            .price 5.000&nbsp;р.
                                            i.tooltiptext.tooltip-bottom Подсказка по дополнительному пункты к расчету прайса. Заполнить на проде
                                        .checkbox
                                            input#add8(type='checkbox' name='add' value='Переводчик синхронист' data-price='3800')
                                            label(for='add8') + Переводчик синхронист
                                                .tooltip ?
                                            .price 3.800&nbsp;р./час
                                            i.tooltiptext.tooltip-bottom Подсказка по дополнительному пункты к расчету прайса. Заполнить на проде
                                        .checkbox
                                            input#add9(type='checkbox' name='add' value='Суфлер' data-price='5000')
                                            label(for='add9') + Суфлер
                                                .tooltip ?
                                            .price 5.000&nbsp;р.
                                            i.tooltiptext.tooltip-bottom Заготовленный бегущий текст на экране для незаметного чтения спикером.
                                        .checkbox
                                            input#add10(type='checkbox' name='add' value='Плейбэк экран (подсказка спикерам)' data-price='3000')
                                            label(for='add10') + Плейбэк экран (подсказка спикерам)
                                                .tooltip ?
                                            .price 3.000&nbsp;р./спикер
                                            i.tooltiptext.tooltip-bottom Чтобы ваши спикеры не оборачивались назад каждый раз, когда хотят свериться с презентацией, мы можем предоставить им экраны-компьютеры перед глазами.
                                        .checkbox
                                            input#add11(type='checkbox' name='add' value='Кликер (переключатель слайдов на экране)' data-price='2500')
                                            label(for='add11') + Кликер (переключатель слайдов на экране)
                                            .price 2.500&nbsp;р./мероприятие
                                        .checkbox
                                            input#add12(type='checkbox' name='add' value='Обеспечение интернета (если нет)' data-price='3500')
                                            label(for='add12') + Обеспечение интернета (если нет)
                                            .price 3.500&nbsp;р./мероприятие
                                        .checkbox
                                            input#add13(type='checkbox' name='add' value='Усилитель сигнала для интернета (если подвал)' data-price='10000')
                                            label(for='add13') + Усилитель сигнала для интернета (если подвал)
                                            .price 10.000&nbsp;р./мероприятие
                                        .checkbox
                                            input#add14(type='checkbox' name='add' value='Предложить локацию в виде интерьерной студии' data-price='0')
                                            label(for='add14') + Предложить локацию в виде интерьерной студии
                                                .tooltip ?
                                            .price индивидуальная цена
                                            i.tooltiptext.tooltip-bottom Хотите получить большой выбор интерьерных студий с ценами? Отметьте этот пункт, чтобы получить подборку. Это именно те студии, которые не подразумевают мест для зрителей, только для спикеров.
                                        .checkbox
                                            input#add15(type='checkbox' name='add' value='Предложить локацию в виде конференцзала' data-price='0')
                                            label(for='add15') + Предложить локацию в виде конференцзала
                                                .tooltip ?
                                            .price индивидуальная цена
                                            i.tooltiptext.tooltip-bottom Вам нужен конференцзал? Отметьте этот пункт, чтобы получить подборку вариантов с ценами.
                                        .checkbox
                                            input#add16(type='checkbox' name='add' value='Настройка Facecast аккаунта под мероприятие' data-price='6000')
                                            label(for='add16') + Настройка Facecast аккаунта под мероприятие
                                                .tooltip ?
                                            .price 6.000&nbsp;р
                                            i.tooltiptext.tooltip-bottom У вас есть свой аккаунт под онлайн мероприятие, но вы хотите помощь в настройке? Отметьте этот пункт, мы поможем.
                                        .checkbox
                                            input#add17(type='checkbox' name='add' value='Помощь спикерам выйти в ZOOM' data-price='6000')
                                            label(for='add17') + Помощь спикерам выйти в ZOOM
                                                .tooltip ?
                                            .price от&nbsp;6.000&nbsp;р.
                                            i.tooltiptext.tooltip-bottom Не все спикеры, особенно преклонного возраста могут быстро выйти в ZOOM. Наш модератор проекта будет всегда готов им помочь. Точная стоимость зависит от количества спикеров.


                                    .ec-options__right
                                        a.ec-options__video.js-video-popup(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
                                            img(src="images/video-placeholder.png" alt="")
                                        .ec-options__arrow
                                            span пара примеров наших работ
                                            img(src="images/ec-result--arrow.png" alt="")


                                .ec-options__total
                                    .es-total.es-total--flex
                                        .es-total__left ИТОГО:
                                        .es-total__right
                                            div 0 р.
                                            span.es-total__nds НДС <br>не облагается

                                .ec-options__bottom
                                    .ec-options__info Примечание: Общая сумма договора будет складываться из базовой стоимости вашего мероприятия в сумме с дополнительными опциями. <br>Данный калькулятор позволяет максимально точно и быстро “прикинуть” бюджет на ваше онлайн событие и автоматически сформировать высокого уровня коммерческое предложение. Финализация точной суммы договора будет после брифинга при встрече или онлайн с нашей стороной, чтобы уточнить некоторые детали, чаще всего - по дополнительному оборудованию и его количеству.
                                    .ec-options__btn
                                        button.ec-btn(type="submit") ДОБАВИТЬ ОПЦИИ И ОТПРАВИТЬ КП В ФОРМАТЕ PDF




                        .event-calc__section.event-calc__section--7
                            .es-quest
                                .es-quest__text Мы будем признательны, если вы ответите на вопрос как вам идея онлайн калькулятора вместо ожидания КП от подрядчика?
                                .es-quest__flex
                                    .es-quest__item.es-quest__item--1(data-id="1")
                                        .es-quest__item-img
                                            img(src="images/es-quest-1.png" alt="")
                                        .es-quest__item-text Норм, но мне все равно, восторга не вызвало
                                    .es-quest__item.es-quest__item--2(data-id="2")
                                        .es-quest__item-img
                                            img(src="images/es-quest-2.png" alt="")
                                        .es-quest__item-text Мне понравилось! Хорошая идея! Это экономит время
                                    .es-quest__item.es-quest__item--3(data-id="3")
                                        .es-quest__item-img
                                            img(src="images/es-quest-3.png" alt="")
                                        .es-quest__item-text Отличная идея, раньше всегда всегда приходилось ожидать пока вышлют КП
                                .es-quest__thanks Спасибо за обратную связь!