section.ec-section
    .qodef-content-grid
        main.qodef-grid.qodef-layout--template
            .qodef-grid-inner.clear
                .qodef-grid-item.qodef-page-content-section.qodef-col--12

                    .event-calc
                        .event-calc__section.event-calc__section--1
                            .event-calc__title Наш онлайн калькулятор составит вам смету прямо сейчас, и вы сразу сможете отправить ее в формате КП себе на почту
                            .event-calc__text Если вы сомневаетесь как заполнить калькулятор, чтобы рассчитать максимально точную стоимость вашего мероприятия, напишите в вотсап аккаунт менеджеру или позвоните ей, она поможет: <span class="nowrap-span">+7 /966/ 362-32-62</span>
                            .event-calc__hr
                            .event-calc__text Данный калькулятор рассчитает стоимость проведения вебинара, обучающего видео или съемки обзора вашего продукта онлайн или в записи. <br>Мы сможем предложить вам концептуальную студию или приехать к вам.

                        .event-calc__section.event-calc__section--2
                            .event-calc__subtitle Заполните все ячейки онлайн калькулятора
                            form.event-calc__form.ec-form(action="" method="POST" data-id="2")
                                .ec-form__section
                                    .ec-form__left
                                        .ec-form__title Сколько часов в сумме будет длиться ваше мероприятие? <br>Даже если оно длится несколько дней.
                                        .ec-form__text Например, мероприятие 2 дня, один день - 4 часа, второй - 5 часов: будет рассчитано, как 4+5 = 9 часов. Если в случае с обучающими видео вы не уверены сколько по времени займет данный процесс, то можете указать приблизительное количество часов или позвонить менеджеру, мы поможем посчитать.
                                    .ec-form__right
                                        .ec-form__field.field
                                            input.required(type="text" required="required" name="es_field_1")
                                        .ec-form__error Заполните ячейку!
                                .ec-form__section
                                    .ec-form__left
                                        .ec-form__title Сколько дней будет проходить ваше мероприятие?
                                    .ec-form__right
                                        .ec-form__field.field
                                            input.required(type="text" required="required" name="es_field_2")
                                        .ec-form__error Заполните ячейку!
                                .ec-form__section
                                    .ec-form__left
                                        .ec-form__title Нужна ли прямая трансляция для данного мероприятия - укажите ДА или НЕТ в ячейке?
                                        .ec-form__text Варианты такие: или это полностью прямой эфир, когда весь монтаж и внедрения презентационных слайдов проходят онлайн, это может быть запись или “гибрид” - когда мы записываем мероприятие заранее, а потом выводим его в прямой эфир. В записи можно более качественно подойти к монтажу и инфографике.
                                    .ec-form__right
                                        .ec-form__field.field
                                            select.e-select-1.required(required="required" name="es_field_3")
                                                option(value="n") Нет
                                                option(value="y" selected) Да
                                        .ec-form__error Выберите значение!
                                .ec-form__section
                                    .ec-form__left
                                        .ec-form__title Вы хотите один ракурс, два или съемку сразу с трех камер? Если вы заказываете вебинар без съемки, то есть только техническое обеспечение и подключения участников, то укажите 0. <br>ЮУкажите 0, 1, 2 или 3 камеры?
                                        .ec-form__text Чем больше ракурсов, тем динамичнее смена кадров и более увлекательно смотрится мероприятие. <br>Мы советуем заказывать 2 камеры - одна статичная на штативе лицом, другая подвижная работает с более крупными планами с других ракурсов - на стедикаме (подвижная камера).

                                    .ec-form__right
                                        .ec-form__field.field
                                            input.required.number-limit-2(type="text" required="required" name="es_field_4")
                                        .ec-form__error Заполните ячейку!
                                .ec-form__section
                                    .ec-form__left
                                        .ec-form__title Нужен ли постпродакшн материала? То есть - монтаж, цветокоррекция, упаковка материала в готовый ролик? Укажите ДА или НЕТ в ячейке!
                                        .ec-form__text Если съемка в прямом эфире, вам может понадобиться более качественный материал в записи. - без лишних/ненужных деталей, возможно, захотите вставить инфографику и иметь более высокго качества видео в записи. Если съемка будет исключительно в записи, то здесь нужно ответить Да, вам в любом случае нужен будет постпродакшн.
                                    .ec-form__right
                                        .ec-form__field.field
                                            select.e-select-2.required(required="required" name="es_field_5")
                                                option(value="n" selected) Нет
                                                option(value="y") Да
                                        .ec-form__error Выберите значение!
                                .ec-form__section
                                    .ec-form__left
                                        .ec-form__title Хотите в запись своего видео внедрить моушен графику? То есть инфографику, которая будет анимирована? <br>Если есть понимание сколько элементов хотите анимировать, то внесите сюда число. Или просто НОЛЬ, если понимания нет или моушен графика вам не нужна.
                                        .ec-form__text Например, вы хотите таймер или любой визуальный эффект или анимировать таблицу с данными или бегущую строку. <br>Посчитайте каждый такой элемент и укажите здесь их общее количество.
                                    .ec-form__right
                                        .ec-form__field.field
                                            input.required(type="text" required="required" name="es_field_6")
                                        .ec-form__error Заполните ячейку!
                                .ec-form__section.ec-form__section--sel-1
                                    .ec-form__left
                                        .ec-form__title Сколько будет подключаться спикеров?
                                    .ec-form__right
                                        .ec-form__field.field
                                            input.required(type="text" required="required" name="es_field_7")
                                        .ec-form__error Заполните ячейку!
                                .ec-form__section.ec-form__section--cols
                                    .ec-form__cols
                                        .ec-form__col
                                            .ec-form__col-field.field
                                                input.required(type="text" required="required" placeholder="Название компании" name="es_field_company")
                                            .ec-form__error КП должно быть персонифицировано, мы же делаем его именно для вас! <br>Заполните ячейку!
                                        .ec-form__col
                                            .ec-form__col-field.field
                                                input.required(type="text" required="required" placeholder="Дата/даты мероприятия" name="es_field_date")
                                            .ec-form__error Заполните дату, нам это важно, чтобы свериться с расписанием других забронированных мероприятий
                                        .ec-form__col
                                            .ec-form__col-field.field
                                                input.required(type="text" required="required" placeholder="Представьтесь, пожалуйста!" name="es_field_name")
                                            .ec-form__error КП должно быть персонифицировано, мы же делаем его именно для вас! <br>Заполните ячейку!
                                        .ec-form__col
                                            .ec-form__col-field.field
                                                input.required(type="email" required="required" placeholder="E-mail, куда отправить КП в PDF" name="es_field_email")
                                            .ec-form__error Почта нужна, чтобы выслать вам КП. <br>Заполните ячейку!
                                .ec-form__info Примечание: расчет на проведение мероприятия в Москве. Мы выезжаем со своим оборудованием в другие города России по требованию. <br>Командировочные расходы рассчитает аккаунт менеджер.
                                .ec-form__btn
                                    button.ec-btn(type="submit") РАССЧИТАТЬ БАЗОВУЮ СТОИМОСТЬ МОЕГО МЕРОПРИЯТИЯ

                        .event-calc__section.event-calc__section--3
                            .ec-results
                                .ec-results__info
                                    .ec-results__col.ec-results__col--6
                                        .ec-results__col-number &nbsp;+ 10.000 р. * 3
                                        .ec-results__col-text Логистика за 1 день
                                    .ec-results__col.ec-results__col--sep
                                        .ec-results__col-number (
                                    .ec-results__col.ec-results__col--1
                                        .ec-results__col-number 7.500 р./час * 24 часа
                                        .ec-results__col-text Ставка за час за комплект оборудования со съемочной группой с 1 камерой
                                    .ec-results__col.ec-results__col--11
                                        .ec-results__col-number &nbsp;+ 5.500 р. * 12 часов
                                        .ec-results__col-text Цена за монтаж 1 часа чернового материала и цветокоррекция
                                    .ec-results__col.ec-results__col--12
                                        .ec-results__col-number &nbsp;+ 2.500 р. * 12 часов
                                        .ec-results__col-text Цена за моушен графику (1&nbsp;внедрение)
                                    .ec-results__col.ec-results__col--sep
                                        .ec-results__col-number )
                                    .ec-results__col.ec-results__col--3
                                        .ec-results__col-number &nbsp;* 1.1
                                        .ec-results__col-text Коэффициент количества спикеров <br>от 3 до 6
                                .ec-results__total
                                    .es-total
                                        div ИТОГО: 297.000 р.
                                        span.es-total__nds НДС <br>не облагается
                            .event-calc__hr.event-calc__hr--center

                        //-.event-calc__section.event-calc__section--4
                            .event-calc__subtitle Что включено в данную сумму
                            .ec-grid
                                .ec-grid__item
                                    .ec-grid__inner
                                        .ec-grid__bg-number 01
                                        .ec-grid__content
                                            .ec-grid__content-title Захват презентационных слайдов
                                .ec-grid__item
                                    .ec-grid__inner
                                        .ec-grid__bg-number 02
                                        .ec-grid__content
                                            .ec-grid__content-title Режиссер прямого эфира
                                            .ec-grid__content-text 1-2-3 и более в зависимости от кол-ва потоков и залов
                                .ec-grid__item
                                    .ec-grid__inner
                                        .ec-grid__bg-number 03
                                        .ec-grid__content
                                            .ec-grid__content-title Оператор прямого эфира
                                            .ec-grid__content-text 1-2-3 и более в зависимости от кол-ва камер
                                .ec-grid__item
                                    .ec-grid__inner
                                        .ec-grid__bg-number 04
                                        .ec-grid__content
                                            .ec-grid__content-title Сдаем материалы в записи в формате ролика
                                .ec-grid__item
                                    .ec-grid__inner
                                        .ec-grid__bg-number 05
                                        .ec-grid__content
                                            .ec-grid__content-title Камера 1 и более уровня SONY 7m3
                                .ec-grid__item
                                    .ec-grid__inner
                                        .ec-grid__bg-number 06
                                        .ec-grid__content
                                            .ec-grid__content-title Трансляция на бесплатный сервис
                                .ec-grid__item
                                    .ec-grid__inner
                                        .ec-grid__bg-number 07
                                        .ec-grid__content
                                            .ec-grid__content-title Мультистрим
                                .ec-grid__item
                                    .ec-grid__inner
                                        .ec-grid__bg-number 08
                                        .ec-grid__content
                                            .ec-grid__content-title Графическое оформление
                                .ec-grid__item
                                    .ec-grid__inner
                                        .ec-grid__bg-number 09
                                        .ec-grid__content
                                            .ec-grid__content-title Петлички по 1 шт. на 1 камеру
                                            .ec-grid__content-text Большее кол-во петличек или микрофон оплачиваются отдельно (ниже доп. услуги)
                                .ec-grid__item
                                    .ec-grid__inner
                                        .ec-grid__bg-number 10
                                        .ec-grid__content
                                            .ec-grid__content-title Ну и... <br>Супер опыт, конечно!
                            .event-calc__hr.event-calc__hr--center

                        .event-calc__section.event-calc__section--5
                            .event-calc__title Добавим еще опций к вашему мероприятию?
                            form.event-calc__options.ec-options(action="" method="POST")
                                .ec-options__flex
                                    .ec-options__left
                                        .checkbox
                                            input#add3(type='checkbox' name='add[]' value='Оформление заставки/ анимация логотипа' data-price='8000')
                                            label(for='add3') + Оформление заставки/ анимация логотипа
                                            .price 8.000&nbsp;р.
                                        .checkbox.ec-options__checkbox--type-2
                                            input#add1(type='checkbox' name='add[]' value='Звукорежиссура' data-price='10000')
                                            label(for='add1') + Нужна ли звукорежиссура
                                            .price 10.000&nbsp;р.
                                        .checkbox
                                            input#add5(type='checkbox' name='add[]' value='Разработка Тизера (короткий рекламный ролик)' data-price='35000')
                                            label(for='add5') + Разработка Тизера (короткий рекламный ролик)
                                                .tooltip ?
                                            .price 35.000&nbsp;р.
                                            i.tooltiptext.tooltip-bottom Выше можете еще раз посмотреть пример Тизера под мероприятие - это короткий ролик с современной анимацией под онлайн событие. Часто адаптируем под вертикальные форматы для сторисов в соцсетях.
                                        .checkbox
                                            input#add2(type='checkbox' name='add[]' value='Внедрение сторонних материалов в видео' data-price='5000')
                                            label(for='add2') + Нужно ли внедрять сторонние материалы в ваше видео
                                                .tooltip ?
                                            .price 5.000&nbsp;р.
                                        .checkbox
                                            input#add6(type='checkbox' name='add[]' value='Внедрение анимированной инфографики' data-price='35000')
                                            label(for='add6') + Внедрение анимированной инфографики
                                                .tooltip ?
                                            .price от&nbsp;35.000&nbsp;р.
                                            i.tooltiptext.tooltip-bottom Если вы хотите более сложное визуальное оформление своего онлайн мероприятия - хотите анимированные заставки спикеров, более сложное intro (вступление), перебивки - мы сделаем все заготовки заранее и внедрим уже их по сценарию во время эфира. Точная стоимость определяется количеством таких заставок, уточним после обсуждения деталей.
                                        .checkbox
                                            input#add7(type='checkbox' name='add[]' value='Техническое обеспечение перевода на другие языки' data-price='5000')
                                            label(for='add7') + Техническое обеспечение перевода на другие языки
                                                .tooltip ?
                                            .price 5.000&nbsp;р.
                                            i.tooltiptext.tooltip-bottom Подсказка по дополнительному пункты к расчету прайса. Заполнить на проде
                                        .checkbox
                                            input#add8(type='checkbox' name='add[]' value='Переводчик синхронист' data-price='3800')
                                            label(for='add8') + Переводчик синхронист
                                                .tooltip ?
                                            .price 3.800&nbsp;р./час
                                            i.tooltiptext.tooltip-bottom Подсказка по дополнительному пункты к расчету прайса. Заполнить на проде
                                        .checkbox.ec-options__checkbox--type-2
                                            input#add11(type='checkbox' name='add[]' value='Кликер (переключатель слайдов на экране)' data-price='2500')
                                            label(for='add11') + Кликер (переключатель слайдов на экране)
                                            .price 2.500&nbsp;р./мероприятие
                                        .checkbox.ec-options__checkbox--type-2
                                            input#add12(type='checkbox' name='add[]' value='Обеспечение интернета (если нет)' data-price='3500')
                                            label(for='add12') + Обеспечение интернета (если нет)
                                            .price 3.500&nbsp;р./мероприятие
                                        .checkbox
                                            input#add14(type='checkbox' name='add[]' value='Предложить локацию в виде интерьерной студии' data-price='0')
                                            label(for='add14') + Предложить локацию в виде интерьерной студии
                                                .tooltip ?
                                            .price индивидуальная цена
                                            i.tooltiptext.tooltip-bottom Хотите получить большой выбор интерьерных студий с ценами? Отметьте этот пункт, чтобы получить подборку. Это именно те студии, которые не подразумевают мест для зрителей, только для спикеров.
                                        .checkbox
                                            input#add15(type='checkbox' name='add[]' value='Предложить локацию в виде конференцзала' data-price='0')
                                            label(for='add15') + Предложить локацию в виде конференцзала
                                                .tooltip ?
                                            .price индивидуальная цена
                                            i.tooltiptext.tooltip-bottom Вам нужен конференцзал? Отметьте этот пункт, чтобы получить подборку вариантов с ценами.
                                        .checkbox
                                            input#add16(type='checkbox' name='add[]' value='Настройка Facecast аккаунта под мероприятие' data-price='5000')
                                            label(for='add16') + Настройка Facecast аккаунта под мероприятие
                                                .tooltip ?
                                            .price 5.000&nbsp;р
                                            i.tooltiptext.tooltip-bottom У вас есть свой аккаунт под онлайн мероприятие, но вы хотите помощь в настройке? Отметьте этот пункт, мы поможем.
                                        .checkbox
                                            input#add18(type='checkbox' name='add[]' value='Использование бизнес аккаунта Facecast' data-price='9500')
                                            label(for='add18') + Использование бизнес аккаунта Facecast
                                            .price 9.500&nbsp;р
                                        .checkbox
                                            input#add17(type='checkbox' name='add[]' value='Использование бизнес аккаунта ZOOM' data-price='6500')
                                            label(for='add17') + Использование бизнес аккаунта ZOOM
                                            .price от&nbsp;6.500&nbsp;р.
                                        .checkbox.ec-options__checkbox--type-2
                                            input#add20(type='checkbox' name='add[]' value='Помощь спикерам выйти в ZOOM' data-price='6000')
                                            label(for='add20') + Помощь спикерам выйти в ZOOM
                                                .tooltip ?
                                            .price от&nbsp;6.000&nbsp;р.
                                            i.tooltiptext.tooltip-bottom Не все спикеры, особенно преклонного возраста могут быстро выйти в ZOOM. Наш модератор проекта будет всегда готов им помочь. Точная стоимость зависит от количества спикеров.
                                        .checkbox
                                            input#add19(type='checkbox' name='add[]' value='Настройка любой другой платформы под мероприятие' data-price='4000')
                                            label(for='add19') + Настройка любой другой платформы под мероприятие
                                            .price от&nbsp;4.000&nbsp;р.





                                    .ec-options__right
                                        a.ec-options__video.js-video-popup(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
                                            img(src="images/video-placeholder.png" alt="")
                                        .ec-options__arrow.ec-options__arrow--top
                                            span пара примеров наших работ
                                            img(src="images/ec-result--arrow.png" alt="")


                                .ec-options__total
                                    .es-total.es-total--flex
                                        .es-total__left ИТОГО:
                                        .es-total__right
                                            div 0 р.
                                            span.es-total__nds НДС <br>не облагается

                                .ec-options__bottom
                                    .ec-options__info Примечание: Общая сумма договора будет складываться из базовой стоимости вашего мероприятия в сумме с дополнительными опциями. <br>Данный калькулятор позволяет максимально точно и быстро “прикинуть” бюджет на ваше онлайн событие и автоматически сформировать высокого уровня коммерческое предложение. Финализация точной суммы договора будет после брифинга при встрече или онлайн с нашей стороной, чтобы уточнить некоторые детали, чаще всего - по дополнительному оборудованию и его количеству.
                                    .ec-options__btn
                                        button.ec-btn(type="submit") ДОБАВИТЬ ОПЦИИ И ОТПРАВИТЬ КП В ФОРМАТЕ PDF




                        .event-calc__section.event-calc__section--7
                            .es-quest
                                .es-quest__text Мы будем признательны, если вы ответите на вопрос как вам идея онлайн калькулятора вместо ожидания КП от подрядчика?
                                .es-quest__flex
                                    .es-quest__item.es-quest__item--1(data-id="1")
                                        .es-quest__item-img
                                            img(src="images/es-quest-1.png" alt="")
                                        .es-quest__item-text Норм, но мне все равно, восторга не вызвало
                                    .es-quest__item.es-quest__item--2(data-id="2")
                                        .es-quest__item-img
                                            img(src="images/es-quest-2.png" alt="")
                                        .es-quest__item-text Мне понравилось! Хорошая идея! Это экономит время
                                    .es-quest__item.es-quest__item--3(data-id="3")
                                        .es-quest__item-img
                                            img(src="images/es-quest-3.png" alt="")
                                        .es-quest__item-text Отличная идея, раньше всегда всегда приходилось ожидать пока вышлют КП
                                .es-quest__thanks Спасибо за обратную связь!