section.ec-section.calc3
    .qodef-content-grid
        main.qodef-grid.qodef-layout--template
            .qodef-grid-inner.clear
                .qodef-grid-item.qodef-page-content-section.qodef-col--12

                    .event-calc
                        .event-calc__section.event-calc__section--1
                            .event-calc__title Наш онлайн калькулятор составит вам смету прямо сейчас, и вы сразу сможете отправить ее в формате КП себе на почту
                            .event-calc__subtitle Заполните все ячейки онлайн калькулятора, <br> чтобы получить стоимость съемки

                        .event-calc__section.event-calc__section--2
                            form.event-calc__form.ec-form.form(action="" method="POST" data-id="3")
                                .form-calc

                                    //- Calc item 1
                                    .form-calc__item.first-el
                                        .form-calc__item-section.form-calc__item-section--1
                                            .form-calc__title
                                                | Нужна ли концепция для вашего проекта?
                                        .form-calc__item-section.form-calc__item-section--2
                                            .form-calc__price
                                                |  80.000 р.
                                        .form-calc__item-section.form-calc__item-section--3
                                            label.form-checkbox.form-calc__checkbox
                                                input(type="checkbox" name="es_field_1" value="концепция для вашего проекта" data-price="80000").form-checkbox__input
                                                span.form-checkbox__checkmark

                                    //- Calc item 2
                                    .form-calc__item
                                        .form-calc__item-section.form-calc__item-section--1
                                            .form-calc__title
                                                | Съемочная группа с оборудованием. Укажите кол-во съемочных дней! 
                                            .form-calc__tooltip.tooltip
                                                | ?
                                        i.tooltiptext.tooltip-bottom(visibility="hidden")
                                            | Такую опцию чаще заказывают для онлайн корпоративов, чтобы развлечь сотрудников-зрителей, однако, иногда и организаторы деловых мероприятий хотят при помощи квиза повысить количество зрителей. Мы разработаем вопросы в тематике мероприятия с вариантами ответов, а также оформим квиз и внедрим в мероприятие онлайн. Не забывайте, что если есть квиз, то должен быть и ведущий, который сможет озвучивать все, что происходит на экране, рассказывать о призах за победу. Ведущий может быть или с нашей стороны, или ваш. В любом случае, если хотите квиз, выберите этот пункт, детали обсудим позже.
                                        .form-calc__item-section.form-calc__item-section--2
                                            .form-calc__price
                                                |  70.000 р.
                                        .form-calc__item-section.form-calc__item-section--3
                                            label.form-checkbox.form-calc__checkbox
                                                input(type="checkbox" name="es_field_2" checked="checked" value="Съемочная группа с оборудованием" data-price="70000").form-checkbox__input.js-required-checkbox
                                                span.form-checkbox__checkmark
                                        .form-calc__item-section.form-calc__item-section--4
                                            select(name="es_field_2-1").form-select.form-calc__select
                                                option(value="1") 1 день
                                                option(value="2") 2 дня
                                                option(value="3") 3 дня
                                            img(src="images/arrow.svg", alt="").form-calc__select-arrow
                                        .form-calc__item-section.form-calc__item-section--error
                                            .form-calc__error.form-error 
                                                | Это обязательная статья для создания ролика

                                    //- Calc item 3
                                    .form-calc__item
                                        .form-calc__item-section.form-calc__item-section--1.form-calc__item-section--1-only-select
                                            .form-calc__title
                                                | Укажите примерный хронометраж ролика
                                        .form-calc__item-section.form-calc__item-section--4.form-calc__item-section--4-long
                                            select(name="es_field_3").form-select.form-calc__select
                                                option(value="1") до 60 секунд
                                                option(value="2" selected) 2 — 10 минут
                                                option(value="3") 30 — 40 минут
                                            img(src="images/arrow.svg", alt="").form-calc__select-arrow   

                                    //- Calc item 4
                                    .form-calc__item
                                        .form-calc__item-section.form-calc__item-section--1
                                            .form-calc__title
                                                | Продюссирование
                                            .form-calc__tooltip.tooltip
                                                | ?
                                        i.tooltiptext.tooltip-bottom(visibility="hidden")
                                            | Такую опцию чаще заказывают для онлайн корпоративов, чтобы развлечь сотрудников-зрителей, однако, иногда и организаторы деловых мероприятий хотят при помощи квиза повысить количество зрителей. Мы разработаем вопросы в тематике мероприятия с вариантами ответов, а также оформим квиз и внедрим в мероприятие онлайн. Не забывайте, что если есть квиз, то должен быть и ведущий, который сможет озвучивать все, что происходит на экране, рассказывать о призах за победу. Ведущий может быть или с нашей стороны, или ваш. В любом случае, если хотите квиз, выберите этот пункт, детали обсудим позже.
                                        .form-calc__item-section.form-calc__item-section--2
                                            .form-calc__price
                                                |  40.000 р.
                                        .form-calc__item-section.form-calc__item-section--3
                                            label.form-checkbox.form-calc__checkbox
                                                input(type="checkbox" name="es_field_4" checked="checked" value="Продюссирование" data-price="40000").form-checkbox__input.js-required-checkbox
                                                span.form-checkbox__checkmark
                                        .form-calc__item-section.form-calc__item-section--4
                                            select(name="es_field_4-1").form-select.form-calc__select
                                                option(value="1") 1 день
                                                option(value="1.5") 2 дня
                                                option(value="2") 3 дня
                                                option(value="2.5") 4 дня
                                            img(src="images/arrow.svg", alt="").form-calc__select-arrow                                                
                                        .form-calc__item-section.form-calc__item-section--error
                                            .form-calc__error.form-error 
                                                | Это обязательная статья для создания ролика 

                                    //- Calc item 5
                                    .form-calc__item
                                        .form-calc__item-section.form-calc__item-section--1
                                            .form-calc__title
                                                | Сценарий и раскадровка
                                            .form-calc__tooltip.tooltip
                                                | ?
                                        i.tooltiptext.tooltip-bottom(visibility="hidden")
                                            | Такую опцию чаще заказывают для онлайн корпоративов, чтобы развлечь сотрудников-зрителей, однако, иногда и организаторы деловых мероприятий хотят при помощи квиза повысить количество зрителей. Мы разработаем вопросы в тематике мероприятия с вариантами ответов, а также оформим квиз и внедрим в мероприятие онлайн. Не забывайте, что если есть квиз, то должен быть и ведущий, который сможет озвучивать все, что происходит на экране, рассказывать о призах за победу. Ведущий может быть или с нашей стороны, или ваш. В любом случае, если хотите квиз, выберите этот пункт, детали обсудим позже.
                                        .form-calc__item-section.form-calc__item-section--2
                                            .form-calc__price
                                                |  20.000 р.
                                        .form-calc__item-section.form-calc__item-section--3
                                            label.form-checkbox.form-calc__checkbox
                                                input(type="checkbox" name="es_field_5" checked="checked" value="Сценарий и раскадровка" data-price="20000").form-checkbox__input.js-required-checkbox
                                                span.form-checkbox__checkmark
                                        .form-calc__item-section.form-calc__item-section--error
                                            .form-calc__error.form-error 
                                                | Это обязательная статья для создания ролика 

                                    //- Calc item 6
                                    .form-calc__item
                                        .form-calc__item-section.form-calc__item-section--1
                                            .form-calc__title
                                                | Режиссура проекта
                                            .form-calc__tooltip.tooltip
                                                | ?
                                        i.tooltiptext.tooltip-bottom(visibility="hidden")
                                            | Такую опцию чаще заказывают для онлайн корпоративов, чтобы развлечь сотрудников-зрителей, однако, иногда и организаторы деловых мероприятий хотят при помощи квиза повысить количество зрителей. Мы разработаем вопросы в тематике мероприятия с вариантами ответов, а также оформим квиз и внедрим в мероприятие онлайн. Не забывайте, что если есть квиз, то должен быть и ведущий, который сможет озвучивать все, что происходит на экране, рассказывать о призах за победу. Ведущий может быть или с нашей стороны, или ваш. В любом случае, если хотите квиз, выберите этот пункт, детали обсудим позже.
                                        .form-calc__item-section.form-calc__item-section--2
                                            .form-calc__price
                                                |  30.000 р.
                                        .form-calc__item-section.form-calc__item-section--3
                                            label.form-checkbox.form-calc__checkbox
                                                input(type="checkbox" name="es_field_6" checked="checked" value="Режиссура проекта" data-price="30000").form-checkbox__input.js-required-checkbox
                                                span.form-checkbox__checkmark
                                        .form-calc__item-section.form-calc__item-section--error
                                            .form-calc__error.form-error 
                                                | Это обязательная статья для создания ролика  

                                    //- Calc item 21
                                    .form-calc__item
                                        .form-calc__item-section.form-calc__item-section--1
                                            .form-calc__title
                                                | Ассистент съемочной группы
                                        .form-calc__item-section.form-calc__item-section--2
                                            .form-calc__price
                                                |  10.000 р.
                                        .form-calc__item-section.form-calc__item-section--3
                                            label.form-checkbox.form-calc__checkbox
                                                input(type="checkbox" name="es_field_21" value="Ассистент съемочной группы" data-price="10000").form-checkbox__input
                                                span.form-checkbox__checkmark
                                        .form-calc__item-section.form-calc__item-section--4
                                            select(name="es_field_21-1").form-select.form-calc__select
                                                option(value="1") 1 день
                                                option(value="2") 2 дня
                                            img(src="images/arrow.svg", alt="").form-calc__select-arrow  
                                    
                                    //- Calc item 7
                                    .form-calc__item
                                        .form-calc__item-section.form-calc__item-section--1
                                            .form-calc__title
                                                | Нужна ли съемка с воздуха (квадрокоптер)?
                                        .form-calc__item-section.form-calc__item-section--2
                                            .form-calc__price
                                                |  25.000 р.
                                        .form-calc__item-section.form-calc__item-section--3
                                            label.form-checkbox.form-calc__checkbox
                                                input(type="checkbox" name="es_field_7" value="квадрокоптер" data-price="25000").form-checkbox__input
                                                span.form-checkbox__checkmark
                                        .form-calc__item-section.form-calc__item-section--4
                                            select(name="es_field_7-1").form-select.form-calc__select
                                                option(value="1") 1 день
                                                option(value="2") 2 дня
                                                option(value="3") 3 дня
                                            img(src="images/arrow.svg", alt="").form-calc__select-arrow                                            

                                    //- Calc item 8
                                    .form-calc__item
                                        .form-calc__item-section.form-calc__item-section--1
                                            .form-calc__title
                                                | Нужны ли спикеры в ролике (формат интервью)
                                            .form-calc__tooltip.tooltip
                                                | ?
                                        i.tooltiptext.tooltip-bottom(visibility="hidden")
                                            | Такую опцию чаще заказывают для онлайн корпоративов, чтобы развлечь сотрудников-зрителей, однако, иногда и организаторы деловых мероприятий хотят при помощи квиза повысить количество зрителей. Мы разработаем вопросы в тематике мероприятия с вариантами ответов, а также оформим квиз и внедрим в мероприятие онлайн. Не забывайте, что если есть квиз, то должен быть и ведущий, который сможет озвучивать все, что происходит на экране, рассказывать о призах за победу. Ведущий может быть или с нашей стороны, или ваш. В любом случае, если хотите квиз, выберите этот пункт, детали обсудим позже.
                                        .form-calc__item-section.form-calc__item-section--2
                                            .form-calc__price
                                                |  10.000 р.
                                        .form-calc__item-section.form-calc__item-section--3
                                            label.form-checkbox.form-calc__checkbox
                                                input(type="checkbox" name="es_field_8" value="формат интервью" data-price="10000").form-checkbox__input
                                                span.form-checkbox__checkmark
                                                
                                    //- Calc item 9
                                    .form-calc__item
                                        .form-calc__item-section.form-calc__item-section--1
                                            .form-calc__title
                                                | Разработка копирайтинга по сценарию                                                 
                                        .form-calc__item-section.form-calc__item-section--2
                                            .form-calc__price
                                                |  
                                        .form-calc__item-section.form-calc__item-section--3
                                            label.form-checkbox.form-calc__checkbox
                                                input(type="checkbox" name="es_field_9" value="Разработка копирайтинга по сценарию" data-price="15000").form-checkbox__input
                                                span.form-checkbox__checkmark                                                
                                        .form-calc__item-section.form-calc__item-section--example   
                                            a(href="#" data-modal="0" data-content="0").form-calc__link
                                                | Посмостреть<br>пример  

                                    //- Calc item 10
                                    .form-calc__item
                                        .form-calc__item-section.form-calc__item-section--1
                                            .form-calc__title
                                                | Потребуется ли внедрение слайдшоу из готовых фото?
                                        .form-calc__item-section.form-calc__item-section--2
                                            .form-calc__price
                                                |  
                                        .form-calc__item-section.form-calc__item-section--3
                                            label.form-checkbox.form-calc__checkbox
                                                input(type="checkbox" name="es_field_10" value="слайдшоу из готовых фото" data-price="15000").form-checkbox__input
                                                span.form-checkbox__checkmark                                                
                                        .form-calc__item-section.form-calc__item-section--example   
                                            a(href="#" data-modal="0" data-content="1").form-calc__link
                                                | Посмостреть<br>пример                                                  
 
                                    //- Calc item 11
                                    .form-calc__item
                                        .form-calc__item-section.form-calc__item-section--1
                                            .form-calc__title
                                                | Потребуется ли озвучивание проекта диктором (+ кастинг голоса)
                                        .form-calc__item-section.form-calc__item-section--2
                                            .form-calc__price
                                                |  10.000 р.
                                        .form-calc__item-section.form-calc__item-section--3
                                            label.form-checkbox.form-calc__checkbox
                                                input(type="checkbox" name="es_field_11" checked="checked" value="озвучивание проекта диктором (+ кастинг голоса)" data-price="10000").form-checkbox__input.js-required-checkbox
                                                span.form-checkbox__checkmark  
                                        .form-calc__item-section.form-calc__item-section--error
                                            .form-calc__error.form-error 
                                                | Это обязательная статья для создания ролика
                                                
                                    //- Calc item 12
                                    .form-calc__item
                                        .form-calc__item-section.form-calc__item-section--1
                                            .form-calc__title
                                                | Потребуется ли разработка 3D сцен и их анимация?
                                            .form-calc__tooltip.tooltip
                                                | ?
                                        i.tooltiptext.tooltip-bottom(visibility="hidden")
                                            | Такую опцию чаще заказывают для онлайн корпоративов, чтобы развлечь сотрудников-зрителей, однако, иногда и организаторы деловых мероприятий хотят при помощи квиза повысить количество зрителей. Мы разработаем вопросы в тематике мероприятия с вариантами ответов, а также оформим квиз и внедрим в мероприятие онлайн. Не забывайте, что если есть квиз, то должен быть и ведущий, который сможет озвучивать все, что происходит на экране, рассказывать о призах за победу. Ведущий может быть или с нашей стороны, или ваш. В любом случае, если хотите квиз, выберите этот пункт, детали обсудим позже.
                                        .form-calc__item-section.form-calc__item-section--2
                                            .form-calc__price
                                                |  25.000 р.
                                        .form-calc__item-section.form-calc__item-section--3
                                            label.form-checkbox.form-calc__checkbox
                                                input(type="checkbox" name="es_field_12" value="разработка 3D сцен и их анимация" data-price="25000").form-checkbox__input
                                                span.form-checkbox__checkmark
                                        .form-calc__item-section.form-calc__item-section--4
                                            select(name="es_field_12-1").form-select.form-calc__select
                                                option(value="1") 1 сцена
                                                option(value="2") 2 сцены
                                                option(value="3") 3 сцены
                                            img(src="images/arrow.svg", alt="").form-calc__select-arrow
                                        .form-calc__item-section.form-calc__item-section--example.form-calc__item-section--example-long   
                                            a(href="#" data-modal="0" data-content="2").form-calc__link
                                                | Посмостреть<br>пример     

                                    //- Calc item 13
                                    .form-calc__item
                                        .form-calc__item-section.form-calc__item-section--1
                                            .form-calc__title
                                                | Хотите инфографику с привязкой к кадрам? (в 3D/2D)                                                
                                        .form-calc__item-section.form-calc__item-section--2
                                            .form-calc__price
                                                |  
                                        .form-calc__item-section.form-calc__item-section--3
                                            label.form-checkbox.form-calc__checkbox
                                                input(type="checkbox" name="es_field_13" value="Инфографика с привязкой к кадрам" data-price="30000").form-checkbox__input
                                                span.form-checkbox__checkmark                                                
                                        .form-calc__item-section.form-calc__item-section--example   
                                            a(href="#" data-modal="1" data-content="3").form-calc__link
                                                | Посмостреть<br>пример

                                    //- Calc item 14
                                    .form-calc__item
                                        .form-calc__item-section.form-calc__item-section--1
                                            .form-calc__title
                                                | Черновой монтаж и цветокоррекция ролика                                             
                                        .form-calc__item-section.form-calc__item-section--2
                                            .form-calc__price
                                                |  
                                        .form-calc__item-section.form-calc__item-section--3
                                            label.form-checkbox.form-calc__checkbox
                                                input(type="checkbox" name="es_field_14" checked="checked" value="Черновой монтаж и цветокоррекция ролика" data-price="20000").form-checkbox__input.js-required-checkbox
                                                span.form-checkbox__checkmark 
                                        .form-calc__item-section.form-calc__item-section--error
                                            .form-calc__error.form-error 
                                                | Это обязательная статья для создания ролика                                                   

                                    //- Calc item 15
                                    .form-calc__item
                                        .form-calc__item-section.form-calc__item-section--1
                                            .form-calc__title
                                                | Звукорежиссура (музыкальное оформление и звуки)                                             
                                        .form-calc__item-section.form-calc__item-section--2
                                            .form-calc__price
                                                |  
                                        .form-calc__item-section.form-calc__item-section--3
                                            label.form-checkbox.form-calc__checkbox
                                                input(type="checkbox" name="es_field_15" checked="checked" value="Звукорежиссура" data-price="10000").form-checkbox__input.js-required-checkbox
                                                span.form-checkbox__checkmark      
                                        .form-calc__item-section.form-calc__item-section--error
                                            .form-calc__error.form-error 
                                                | Это обязательная статья для создания ролика 

                                    //- Calc item 16
                                    .form-calc__item
                                        .form-calc__item-section.form-calc__item-section--1
                                            .form-calc__title
                                                | Титры для тех, кто смотрит без звука                                              
                                        .form-calc__item-section.form-calc__item-section--2
                                            .form-calc__price
                                                |  
                                        .form-calc__item-section.form-calc__item-section--3
                                            label.form-checkbox.form-calc__checkbox
                                                input(type="checkbox" name="es_field_16" value="Титры" data-price="5000").form-checkbox__input
                                                span.form-checkbox__checkmark                                                
                                        .form-calc__item-section.form-calc__item-section--example   
                                            a(href="#" data-modal="1" data-content="4").form-calc__link
                                                | Посмостреть<br>пример

                                    //- Calc item 17
                                    .form-calc__item
                                        .form-calc__item-section.form-calc__item-section--1
                                            .form-calc__title
                                                | Анимация логотипа в конце ролика                                         
                                        .form-calc__item-section.form-calc__item-section--2
                                            .form-calc__price
                                                |  
                                        .form-calc__item-section.form-calc__item-section--3
                                            label.form-checkbox.form-calc__checkbox
                                                input(type="checkbox" name="es_field_17" value="Анимация логотипа в конце ролика" data-price="8000").form-checkbox__input
                                                span.form-checkbox__checkmark                                                

                                    //- Calc item 18
                                    .form-calc__item
                                        .form-calc__item-section.form-calc__item-section--1
                                            .form-calc__title
                                                | Концептуальный финальный пэкшот
                                            .form-calc__tooltip.tooltip
                                                | ?
                                        i.tooltiptext.tooltip-bottom(visibility="hidden")
                                            | Такую опцию чаще заказывают для онлайн корпоративов, чтобы развлечь сотрудников-зрителей, однако, иногда и организаторы деловых мероприятий хотят при помощи квиза повысить количество зрителей. Мы разработаем вопросы в тематике мероприятия с вариантами ответов, а также оформим квиз и внедрим в мероприятие онлайн. Не забывайте, что если есть квиз, то должен быть и ведущий, который сможет озвучивать все, что происходит на экране, рассказывать о призах за победу. Ведущий может быть или с нашей стороны, или ваш. В любом случае, если хотите квиз, выберите этот пункт, детали обсудим позже.
                                        .form-calc__item-section.form-calc__item-section--2
                                            .form-calc__price
                                                |  
                                        .form-calc__item-section.form-calc__item-section--3
                                            label.form-checkbox.form-calc__checkbox
                                                input(type="checkbox" name="es_field_18" value="Концептуальный финальный пэкшот" data-price="15000").form-checkbox__input
                                                span.form-checkbox__checkmark                                                
                                        .form-calc__item-section.form-calc__item-section--example   
                                            a(href="#" data-modal="1" data-content="5").form-calc__link
                                                | Посмостреть<br>пример  

                                    //- Calc item 19
                                    .form-calc__item
                                        .form-calc__item-section.form-calc__item-section--1
                                            .form-calc__title
                                                | Чистовой монтаж, сведение звука/музыки, внедрение графики, логотипа...                                             
                                        .form-calc__item-section.form-calc__item-section--2
                                            .form-calc__price
                                                | 15.000 р. 
                                        .form-calc__item-section.form-calc__item-section--3
                                            label.form-checkbox.form-calc__checkbox
                                                input(type="checkbox" name="es_field_19" checked="checked" value="Чистовой монтаж, сведение звука/музыки, внедрение графики, логотипа..." data-price="15000").form-checkbox__input.js-required-checkbox
                                                span.form-checkbox__checkmark      
                                        .form-calc__item-section.form-calc__item-section--error
                                            .form-calc__error.form-error 
                                                | Это обязательная статья для создания ролика  

                                    //- Calc item 20
                                    .form-calc__item
                                        .form-calc__item-section.form-calc__item-section--1
                                            .form-calc__title
                                                | Арт-дирекшн проекта    
                                            .form-calc__tooltip.tooltip
                                                | ?
                                        i.tooltiptext.tooltip-bottom(visibility="hidden")
                                            | Такую опцию чаще заказывают для онлайн корпоративов, чтобы развлечь сотрудников-зрителей, однако, иногда и организаторы деловых мероприятий хотят при помощи квиза повысить количество зрителей. Мы разработаем вопросы в тематике мероприятия с вариантами ответов, а также оформим квиз и внедрим в мероприятие онлайн. Не забывайте, что если есть квиз, то должен быть и ведущий, который сможет озвучивать все, что происходит на экране, рассказывать о призах за победу. Ведущий может быть или с нашей стороны, или ваш. В любом случае, если хотите квиз, выберите этот пункт, детали обсудим позже.
                                        .form-calc__item-section.form-calc__item-section--2
                                            .form-calc__price
                                                | 
                                        .form-calc__item-section.form-calc__item-section--3
                                            label.form-checkbox.form-calc__checkbox
                                                input(type="checkbox" name="es_field_20" checked="checked" value="Арт-дирекшн проекта" data-price="20000").form-checkbox__input.js-required-checkbox
                                                span.form-checkbox__checkmark      
                                        .form-calc__item-section.form-calc__item-section--error
                                            .form-calc__error.form-error 
                                                | Это обязательная статья для создания ролика   

                                .form-bottom
                                    .ec-options__info.form-calc__info
                                        | Примечание: расчет на организацию съемок в Москве. В другие города России мы тоже выезжаем.
                                        br
                                        | Командировочные расходы рассчитает аккаунт менеджер после уточнения деталей.  
                                    
                                    .form-total.form-calc__total
                                        .form-total__text
                                            span.form-total__text-1
                                                | Итого: 
                                            span.form-total__text-final
                                                | 
                                            span.form-total__text-currency
                                                | р.
                                            span.form-total__text-vat
                                                | НДС
                                                br
                                                | не облагается

                                    .form-contacts.form-calc__contacts 
                                        .ec-form__cols.form-contacts__row
                                            .ec-form__col
                                                .ec-form__col-field.field
                                                    input.required(type="text" required="required" placeholder="ФИО" name="es_field_company")
                                                .ec-form__error КП должно быть персонифицировано, мы же делаем его именно для вас! <br>Заполните ячейку!
                                            .ec-form__col
                                                .ec-form__col-field.field
                                                    input.required(type="text" required="required" placeholder="Название компании" name="es_field_company")
                                                .ec-form__error КП должно быть персонифицировано, мы же делаем его именно для вас! <br>Заполните ячейку!
                                        
                                        .ec-form__cols.form-contacts__row
                                                .ec-form__col
                                                    .ec-form__col-field.field
                                                        input.required(type="text" required="required" placeholder="Дата/даты проведения мероприятия" name="es_field_date")
                                                    .ec-form__error Заполните дату, нам это важно, чтобы свериться с расписанием других забронированных мероприятий
                                                .ec-form__col
                                                    .ec-form__col-field.field
                                                        input.required(type="email" required="required" placeholder="E-mail, куда отправить КП в PDF" name="es_field_email")
                                                    .ec-form__error Почта нужна, чтобы выслать вам КП. <br>Заполните ячейку!                                                
                                        
                                        button(class="ec-btn" type="submit").form-button.form-calc__button
                                            | ОТПРАВИТЬ КП НА ПОЧТУ В ФОРМАТЕ PDF

                                    //- .form-contacts.form-calc__contacts
                                    //-     .form-contacts__row
                                    //-         .form-contacts__group
                                    //-             .form-error.form-contacts__error
                                    //-                 | КП должно быть персонифицировано,
                                    //-                 br
                                    //-                 | мы же делаем его именно для вас!
                                    //-                 br
                                    //-                 | Заполните ячейку!
                                    //-             input(class="required" type="text" required="required" placeholder="Название компании" name="es_field_company").form-contacts__input

                                    //-         .form-contacts__group
                                    //-             .form-error.form-contacts__error
                                    //-                 | Заполните дату, нам это важно, чтобы
                                    //-                 br
                                    //-                 | свериться с расписанием других
                                    //-                 br
                                    //-                 | забронированных мероприятий
                                    //-             input(class="required" type="text" required="required" placeholder="Дата готовности проекта" name="es_field_date").form-contacts__input   

                                    //-     .form-contacts__row
                                    //-         .form-contacts__group
                                    //-             .form-error.form-contacts__error
                                    //-                 | КП должно быть персонифицировано,
                                    //-                 br
                                    //-                 | мы же делаем его именно для вас!
                                    //-                 br
                                    //-                 | Заполните ячейку!
                                    //-             input(class="required" type="text" required="required" placeholder="Представьтесь, пожалуйста!" name="es_field_name").form-contacts__input

                                    //-         .form-contacts__group
                                    //-             .form-error.form-contacts__error
                                    //-                 | Почта нужна, чтобы выслать вам КП. 
                                    //-                 br
                                    //-                 | Заполните ячейку!
                                    //-             input(class="required" type="email" required="required" placeholder="E-mail, куда отправить КП в PDF" name="es_field_email").form-contacts__input                               

                                    //-     button(class="ec-btn" type="submit").form-button.form-calc__button
                                    //-         | ОТПРАВИТЬ КП НА ПОЧТУ В ФОРМАТЕ PDF

                    .modal
                        .modal-overlay

                        .modal-content
                            .modal-content__close

                            .modal-content__wrapper
                                .modal-content__video.modal-content__video--1
                                    <iframe src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
                                .modal-content__video.modal-content__video--2
                                    <iframe src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
                                .modal-content__description
                                    .modal-content__description-title
                                        
                                    .modal-content__description-text