.qodef-content-grid
	main.qodef-grid.qodef-layout--template
		.qodef-grid-inner.clear
			.qodef-grid-item.qodef-page-content-section.qodef-col--12

				section.welcome
					.container.welcome__container
						+title('Наш онлайн калькулятор <br>составит вам смету прямо сейчас, <br>и вы сразу сможете отправить <br> ее в формате КП себе на почту')
						