.qodef-content-grid
	main.qodef-grid.qodef-layout--template
		.qodef-grid-inner.clear
			.qodef-grid-item.qodef-page-content-section.qodef-col--12

				section.welcome
					.container.welcome__container
						+title('Вы планируете вебинар,\n' +
						'<br>продукт-обзор или обучающее\n' +
						'видео? Онлайн или в записи? ',
						'Мы знаем, что вы не хотите долго ждать, пока вам сформируют коммерческое предложение. Именно поэтому мы разработали\n' +
						'<br> для вас КП_ОНЛАЙН, где вы получите всю необходимую информацию о наших возможностях и, заполнив короткий бриф-калькулятор в конце,\n' +
						'<br> сможете отправить себе на почту готовое коммерческое предложение в формате PDF')
