.qodef-content-grid
	main.qodef-grid.qodef-layout--template
		.qodef-grid-inner.clear
			.qodef-grid-item.qodef-page-content-section.qodef-col--12

				section.welcome
					.container.welcome__container
						+title('Вам нужен презентационный\n' +
						'или корпоративный ролик?',
						'Еще мы знаем, что вы не хотите долго ждать, пока вам сформируют коммерческое предложение. <br>' +
						'Именно поэтому мы разработали для вас КП ОНЛАЙН, где вы получите всю необходимую информацию о наших возможностях <br>' +
						'и, заполнив короткий бриф-калькулятор в конце, сможете отправить себе на почту готовое коммерческое предложение в формате PDF')
