section.works
	.qodef-content-grid
		main.qodef-grid.qodef-layout--template
			.qodef-grid-inner.clear
				.qodef-grid-item.qodef-page-content-section.qodef-col--12
					.container.works__container
						+title('К чему все эти лишние слова? <br>' +
						'Судите по работам!', 'Избранные проекты, которые дадут возможность понять, что мы отлично справляемся с несколькими потоками одновременно, <br>' +
						'умеем работать с хромакеем, разрабатывать и проводить квизы, делать динамические тизеры под ваши мероприятия.', 'works__title')
						.works__grid
							.works-item
								a.works-item__preview.js-video-popup(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ", target="_blank")
									img(src='./images/works/1.jpg', alt='')
								.works-item__title Наше демо для общего обзора
							.works-item
								a.works-item__preview.js-video-popup(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ", target="_blank")
									img(src='./images/works/2.jpg', alt='')
								.works-item__title Онлайн конференция
							.works-item
								a.works-item__preview.js-video-popup(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ", target="_blank")
									img(src='./images/works/3.jpg', alt='')
								.works-item__title Онлайн мероприятие с ведущим и квизом
							.works-item
								a.works-item__preview.js-video-popup(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ", target="_blank")
									img(src='./images/works/4.jpg', alt='')
								.works-item__title Тизер под бизнес мероприятие
							.works-item
								a.works-item__preview.js-video-popup(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ", target="_blank")
									img(src='./images/works/5.jpg', alt='')
								.works-item__title Оформление и проведение квиза
							.works-item
								a.works-item__preview.js-video-popup(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ", target="_blank")
									img(src='./images/works/6.jpg', alt='')
								.works-item__title Как снимаем и как работаем с графикой
