section.works
	.qodef-content-grid
		main.qodef-grid.qodef-layout--template
			.qodef-grid-inner.clear
				.qodef-grid-item.qodef-page-content-section.qodef-col--12
					.container.works__container
						+title('К чему все эти лишние слова? <br>' +
						'Судите по работам!', 'Избранные проекты, которые дадут возможность понять, <br>как мы умеем снимать и внедрять современный моушен дизайн.', 'works__title')
						.works__grid
							.works-item
								a.works-item__preview.js-video-popup(href="https://www.youtube.com/watch?v=JwX1Q9T-S1Y", target="_blank")
									img(src='./images/works/1.jpg', alt='')
								.works-item__title Наше демо для общего обзора
							.works-item
								a.works-item__preview.js-video-popup(href="https://www.youtube.com/watch?v=zoWwjUUWrFQ", target="_blank")
									img(src='./images/works/11.jpg', alt='')
								.works-item__title Вебинар для доктора-гинеколога
							.works-item
								a.works-item__preview.js-video-popup(href="https://www.youtube.com/watch?v=PmGUW76hq3Q", target="_blank")
									img(src='./images/works/13.jpg', alt='')
								.works-item__title Прямая трансляция отборочного тура по косплею
							.works-item
								a.works-item__preview.js-video-popup(href="https://www.youtube.com/watch?v=YP7TUpM5-WM", target="_blank")
									img(src='./images/works/4.jpg', alt='')
								.works-item__title Тизер под бизнес мероприятие
							.works-item
								a.works-item__preview.js-video-popup(href="https://www.youtube.com/watch?v=nYGwjQnsYpw", target="_blank")
									img(src='./images/works/12.jpg', alt='')
								.works-item__title Тизер к чемпионату мира по Косплею
							.works-item
								a.works-item__preview.js-video-popup(href="https://www.youtube.com/watch?v=Ojd8ktnfr0Y", target="_blank")
									img(src='./images/works/6.jpg', alt='')
								.works-item__title Как снимаем и как работаем с графикой
