section.works
	.qodef-content-grid
		main.qodef-grid.qodef-layout--template
			.qodef-grid-inner.clear
				.qodef-grid-item.qodef-page-content-section.qodef-col--12
					.container.works__container
						+title('К чему все эти лишние слова? <br>' +
						'Судите по работам!', 'Избранные проекты, которые дадут возможность понять, что мы отлично справляемся с несколькими потоками одновременно, <br>' +
						'умеем работать с хромакеем, разрабатывать и проводить квизы, делать динамические тизеры под ваши мероприятия.', 'works__title')
						.works__grid
							.works-item
								a.works-item__preview.js-video-popup(href="https://www.youtube.com/watch?v=sTP_oYYE5eY", target="_blank")
									img(src='./images/works/calc3/case1.jpg', alt='')
			
							.works-item
								a.works-item__preview.js-video-popup(href="https://www.youtube.com/watch?v=Kpg-D0hw0Ko", target="_blank")
									img(src='./images/works/calc3/case2.png', alt='')
			
							.works-item
								a.works-item__preview.js-video-popup(href="https://www.youtube.com/watch?v=e7JADySvAME", target="_blank")
									img(src='./images/works/calc3/case3.png', alt='')
			
							.works-item
								a.works-item__preview.js-video-popup(href="https://www.youtube.com/watch?v=gTo6R77Mq34", target="_blank")
									img(src='./images/works/calc3/case4.png', alt='')
			
							.works-item
								a.works-item__preview.js-video-popup(href="https://www.youtube.com/watch?v=-Fug0n_XvPU", target="_blank")
									img(src='./images/works/calc3/case5.png', alt='')
			
							.works-item
								a.works-item__preview.js-video-popup(href="https://www.youtube.com/watch?v=Ojd8ktnfr0Y", target="_blank")
									img(src='./images/works/calc3/case6.png', alt='')
			
