.partners {
	&__container {
		padding-top: 75px;
		padding-bottom: 92px;

		@include max(lg) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}

	&__title {
		margin-bottom: 76px;

		@include max(lg) {
			margin-bottom: 50px;
		}
	}

	&__icons {
		img {
			display: block;
			width: 100%;
			/*width: calc(100% + 200px);
			margin-left: -100px;
			max-width: none;

			@include max(lg) {
				width: calc(100% + 140px);
				margin-left: -70px;
			}

			@include max(sm) {
				width: calc(100% + 60px);
				margin-left: -30px;
			}

			@include max(xxs) {
				width: calc(100% + 20px);
				margin-left: -10px;
			}*/
		}
	}
}