.header {
	display: flex;
	align-items: center;
	height: 116px;

	@include max(sm) {
        height: 80px;
    }

	&__row {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}

	&__link {
        text-decoration: underline;
        padding-bottom: 13px;

        &:hover {
            text-decoration: none;
        }
	}

	&--fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        transition: transform 0.5s ease;
    }
}