.nowrap-span{
  white-space: nowrap;
}

.event-calc{
  $self: &;
  padding: 108px 0;
  @include max(lg) {
    padding: 40px 0;
  }
  &__hr{
    margin: 16px 0 40px;
    display: flex;
    justify-content: flex-start;
    @include max(md) {
      justify-content: center;
    }
    @include max(xxs) {
      margin: 15px 0 15px;
    }
    &::before{
      content: "";
      display: block;
      width: 28px;
      height: 10px;
      background-color: #000002;
    }
    &--center{
      justify-content: center;
    }
  }
  &__title{
    color: #000002;
    font-family: $mainFont;
    font-size: 75px;
    font-weight: 700;
    font-style: normal;
    line-height: 65px;
    text-align: left;
    letter-spacing: 1.88px;
    @include max(lg) {
      font-size: 70px;
      letter-spacing: normal;
    }
    @include max(md) {
      font-size: 60px;
      text-align: center;
    }
    @include max(sm) {
      font-size: 40px;
      line-height: 40px;
    }
    @include max(xxs) {
      font-size: 26px;
      line-height: 30px;
    }
  }
  &__subtitle{
    color: #000002;
    font-family: $mainFont;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    text-align: left;
    letter-spacing: 0.75px;

    @include max(md) {
      text-align: center;
      font-size: 25px;
      letter-spacing: 0.5px;
    }
  }
  &__text{
    color: #9a9898;
    font-family: $mainFont;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    text-align: left;
    letter-spacing: 0.4px;
    @include max(md) {
      text-align: center;
    }
    @include max(sm) {
      font-size: 15px;
      line-height: 20px;
      letter-spacing: normal;
    }
  }





  &__section{
    &--1{
      #{ $self }{
        &__title{
          margin-bottom: 13px;
          max-width: 1170px;
        }
        &__text{
          max-width: 1145px;
        }
      }
    }
    &--2{
      margin-top: 70px;
      padding-bottom: 69px;
      #{ $self }{
        &__subtitle{
          padding: 0 20px;
          margin-bottom: 28px;
          @include max(md) {
            padding: 0;
          }
        }
      }
    }
    &--3{
      display: none;
      #{ $self }{
        &__hr{
          margin-top: 40px;
        }
      }
    }
    &--4{
      display: none;
      #{ $self }{
        &__subtitle{
          margin-bottom: 53px;
          text-align: center;
        }
        &__hr{
          margin-top: 10px;
        }
      }
    }
    &--5{
      display: none;
      margin-top: 110px;
      @include max(sm) {
        margin-top: 50px;
      }
      #{ $self }{
        &__title{
          margin-bottom: 85px;
          @include max(sm) {
            margin-bottom: 40px;
          }
        }
      }
    }
    &--6{}
    &--7{}
  }
}


.ec-btn{
  width: 593px;
  min-height: 65px;
  display: block;
  cursor: pointer;
  border: none;
  outline: none;
  background: #91AB46;
  color: #ffffff;
  font-family: $mainFont;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.54px;
  box-sizing: border-box;
  padding: 15px;
  max-width: 100%;

  @include max(xs) {
    font-size: 15px;
  }
}

.ec-form{
  $self: &;
  &__section{
    box-sizing: border-box;
    min-height: 145px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 23px;
    @include max(sm) {
      min-height: 0;
      padding: 11px;
    }
    @include max(xxs) {
      flex-direction: column;
      align-items: flex-start;
    }

    &--cols{
      align-items: flex-start;
      @include max(md) {
        align-items: center;
      }
    }
  }
  &__section + &__section{
    margin-top: 3px;
  }
  &__left{
    max-width: 900px;
  }
  &__title{
    color: #262628;
    font-family: $mainFont;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 22px;
    text-align: left;
    max-width: 790px;
    @include max(xs) {
      font-size: 16px;
      line-height: 18px;
    }
    &:not(:last-child){
      margin-bottom: 11px;
      @include max(xs) {
        margin-bottom: 7px;
      }
    }
  }
  &__text{
    color: #a1a1a1;
    font-family: $mainFont;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    line-height: 22px;
    @include max(xs) {
      font-size: 14px;
      line-height: 14px;
    }
  }
  &__right{
    display: flex;
    align-items: center;
    width: 276px;
    margin-left: 30px;
    flex-shrink: 0;
    @include max(lg) {
      width: 119px;
      height: 50px;
      flex-direction: column;
    }
    @include max(sm) {
      height: auto;
    }
    @include max(xxs) {
      margin-top: 20px;
      margin-left: 0;
      width: 100%;
    }
  }
  &__error{
    color: #fa0101;
    font-family: $mainFont;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 14px;
    margin-left: 12px;
    max-width: 100px;
    display: none;
    @include max(lg) {
      margin-left: 0;
      margin-top: 10px;
      max-width: 100%;
    }
  }
  &__field{
    width: 119px;
    flex-shrink: 0;
    @include max(xxs) {
      width: 100%;
    }
    input{
      margin-bottom: 0;
      border: 2px solid #d5d2d2;
      background-color: #f5f5f5;
      padding: 5px 10px;
      text-align: center;
      color: #000000;
      font-family: $mainFont;
      font-size: 30px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      height: 50px;
      &:focus{
        border-color: #d5d2d2;
        color: #000000;
      }
    }
    &--error{
      input{
        border-color: #fa0101;
      }
      + #{ $self }__error{
          display: block;
      }
    }
  }

  &__cols{
    display: flex;
    margin: 0 -12px;
    width: calc(100% - 133px);
    @include max(lg) {
      width: calc(100% + 24px);
    }
    @include max(md) {
      align-items: flex-end;
    }
    @include max(sm) {
      flex-direction: column;
    }
  }

  &__col{
    width: calc(100% / 3);
    padding: 0 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    @include max(md) {
      justify-content: space-between;
    }
    @include max(sm) {
      width: 100%;
      flex-direction: column;
      &:not(:last-child){
        margin-bottom: 15px;
      }
    }

    #{ $self }__error{
      width: 100%;
      max-width: 100%;
      margin-bottom: 9px;
      padding-left: 0;
      display: block;
      user-select: none;
      pointer-events: none;
      opacity: 0;
      @include max(lg) {
        margin-top: 0;
      }
      @include max(sm) {
        margin-bottom: 0;
        margin-top: 7px;
      }
      @include max(md) {
        display: none;
      }
    }
    &-field{
      input{
        margin: 0;
        font-family: $mainFont;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        color: #000000;
        border: 2px solid #d5d2d2;
        background-color: #f5f5f5;
        &::placeholder{
          color: #9e9e9e;
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;
          font-family: $mainFont;
        }
        &:focus{
          border-color: #d5d2d2;
          color: #000000;
        }
      }
      &--error{
        input{
          border-color: #fa0101;
        }
        + #{ $self }__error{
          opacity: 1;
          user-select: auto;
          pointer-events: auto;
          @include max(md) {
            display: block;
          }
        }
      }
    }
  }

  &__info{
    padding: 0 20px;
    margin-top: 23px;
    color: #262628;
    font-family: $mainFont;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    font-style: normal;
    @include max(md) {
      padding: 0;
    }
    @include max(xs) {
      margin-top: 15px;
      font-size: 16px;
      line-height: 18px;
    }
  }
  &__btn{
    display: flex;
    justify-content: center;
    margin-top: 112px;

    @include max(md) {
      margin-top: 60px;
    }
    @include max(xxs) {
      margin-top: 30px;
    }
  }
}


.es-total{
  position: relative;
  &--flex{
    display: flex;
    @include max(md) {
      justify-content: center;
    }
  }
  > div{
    color: #262628;
    font-family: $mainFont;
    font-size: 75px;
    line-height: 1;
    font-weight: 700;
    @include max(lg) {
      font-size: 70px;
      letter-spacing: normal;
    }
    @include max(md) {
      font-size: 60px;
      text-align: center;
    }
    @include max(sm) {
      font-size: 40px;
      line-height: 40px;
    }
    @include max(xxs) {
      font-size: 26px;
      line-height: 30px;
    }
  }
  &__left{
    width: 468px;
    @include max(lg) {
      width: 426px;
    }
    @include max(md) {
      width: auto;
      margin-right: 0.2em;
    }
  }
  &__right{
    position: relative;
  }

  &__nds{
    width: 85px;
    color: #69841c;
    font-family: $mainFont;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    position: absolute;
    left: calc(100% + 15px);
    top: 50%;
    transform: translateY(-50%);
    height: 60px;
    display: flex;
    align-items: flex-end;
    @include max(xs) {
      width: 100%;
      text-align: right;
      position: static;
      transform: none;
      display: block;
      margin-top: 5px;
      height: auto;
      br{
        display: none;
      }
    }
  }
}


.ec-results{
  &__info{
    display: flex;
    justify-content: center;
    @include max(sm) {
      display: none;
    }
  }
  &__col{
    $self: &;
    &-number{
      color: #262628;
      font-family: $mainFont;
      font-size: 30px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1;
      text-align: left;
      @include max(md) {
        font-size: 20px;
      }
      span{
        color: #f40341;
      }
    }
    &-text{
      color: #69841c;
      font-family: $mainFont;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 14px;
      margin-top: 13px;
      max-width: 100%;
    }

    &--1{
      #{ $self }-text{
        width: 165px;
      }
    }
    &--2{
      #{ $self }-text{
        width: 90px;
        margin-left: 26px;
        @include max(md) {
          margin-left: 1px;
        }
      }
    }
    &--3{
      #{ $self }-text{
        width: 90px;
        margin-left: 26px;
        @include max(md) {
          margin-left: 17px;
        }
      }
    }
    &--4{
      #{ $self }-text{
        width: 120px;
        margin-left: 31px;
        @include max(md) {
          margin-left: 21px;
          width: 80px;
        }
      }
    }
  }
  &__total{
    display: flex;
    justify-content: center;
    margin-top: 63px;
    @include max(sm) {
      margin-top: 0;
    }
  }
}

.ec-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__item{
    width: 20%;
    box-sizing: border-box;
    padding: 0 5px 0 30px;
    margin-bottom: 68px;
    min-height: 124px;
    @include max(md) {
      width: 33.333%;
      margin-bottom: 45px;
    }
    @include max(xs) {
      width: 50%;
      margin-bottom: 30px;
    }
    @include max(xxs) {
      padding: 0;
      min-height: 114px;
    }
  }
  &__inner{
    position: relative;
    padding-top: 35px;
    padding-left: 25px;
    @include max(xxs) {
      padding-top: 23px;
      padding-left: 20px;
    }
  }
  &__bg-number{
    color: #f4f3f3;
    font-family: $secondFont;
    font-size: 175px;
    font-weight: 500;
    line-height: 124px;
    font-style: normal;
    text-align: left;
    letter-spacing: -2.12px;
    position: absolute;
    top: 0;
    left: -5px;
    z-index: -1;
    user-select: none;
    @include max(xxs) {
      font-size: 145px;
      line-height: 114px;
    }
  }
  &__content{
    &-title{
      color: #262628;
      font-family: $mainFont;
      font-size: 18px;
      font-weight: 700;
      font-style: normal;
      line-height: 22px;
      letter-spacing: 1.06px;
      @include max(xxs) {
        font-size: 16px;
        line-height: 18px;
      }
      &:not(:last-child){
        margin-bottom: 10px;
        @include max(xxs) {
          margin-bottom: 8px;
        }
      }
    }
    &-text{
      color: #5e7222;
      font-family: $mainFont;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      line-height: 15px;
      text-align: left;
      letter-spacing: 0.82px;
      @include max(xxs) {
        line-height: 14px;
        letter-spacing: normal;
      }
    }
  }
}



.ec-options{
  &__flex{
    display: flex;
    justify-content: space-between;
  }
  &__left{
    width: calc(100% - 481px);
    @include max(lg) {
      width: calc(100% - 260px);
    }
    @include max(md) {
      width: 100%;
    }
    .checkbox{
      justify-content: flex-start;
      @include max(sm) {
        justify-content: space-between;
      }
      @include max(xxs) {
        display: block;
      }
      + .checkbox{
        margin-top: 19px;
        @include max(xxs) {
          margin-top: 8px;
          padding-top: 8px;
          border-top: 1px solid #d9d9d9;
        }
      }
      label{
        margin-bottom: 0;
        padding-left: 40px;
        width: 490px;
        box-sizing: border-box;
        color: #9e9e9e;
        font-family: $mainFont;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        line-height: 22px;
        text-align: left;
        @include max(lg) {
          width: 445px;
        }
        @include max(sm) {
          width: auto;
        }
        @include max(xxs) {
          font-size: 15px;
          line-height: 17px;
        }
      }
      .tooltip{
        width: 20px;
        height: 20px;
        margin-left: 5px;
      }
      .tooltiptext{
        top: 36px;
      }
      .price{
        box-sizing: border-box;
        padding-left: 20px;
        width: calc(100% - 490px);
        color: #262628;
        font-family: $mainFont;
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
        text-align: left;
        font-style: normal;
        letter-spacing: normal;
        @include max(lg) {
          width: calc(100% - 445px);
        }
        @include max(sm) {
          font-size: 18px;
          line-height: 20px;
          width: auto;
          text-align: right;
        }
        @include max(xxs) {
          text-align: left;
          margin-top: 2px;
          padding-left: 40px;
        }
      }
    }
  }
  &__right{
    width: 461px;
    position: relative;
    @include max(lg) {
      width: 240px;
      padding-top: 30px;
    }
    @include max(md) {
      display: none;
    }
  }
  &__video{
    display: block;
    width: 100%;
    cursor: pointer;
    img{
      width: 100%;
      display: block;
    }
  }
  &__video + &__video{
    margin-top: 21px;
    @include max(lg) {
      margin-top: 67px;
    }
  }
  &__arrow{
    position: absolute;
    width: 226px;
    top: 83px;
    right: 100%;
    span{
      display: block;
      position: absolute;
      top: 0;
      left: -5px;
      color: #9e9e9e;
      font-family: $mainFont;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      line-height: 16px;
      text-align: left;
    }
    img{
      display: block;
      width: 100%;
    }
  }

  &__total{
    padding-left: 40px;
    margin-top: 59px;
  }

  &__bottom{
    margin-top: 26px;
  }
  &__info{
    color: #262628;
    font-family: $mainFont;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 22px;
    text-align: left;
    letter-spacing: 1.06px;
    @include max(xs) {
      font-size: 15px;
      line-height: 17px;
      letter-spacing: 0.3px;
    }
    @include max(xxs) {
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      letter-spacing: 0.1px;
    }
  }
  &__btn{
    margin-top: 66px;
    @include max(md) {
      display: flex;
      justify-content: center;
    }
    @include max(sm) {
      margin-top: 30px;
    }
  }
}



.es-quest{
  padding: 64px 45px;
  max-width: 750px;
  @include max(md) {
    padding: 50px 30px;
  }
  @include max(sm) {
    padding: 30px 0;
  }
  &__text{
    color: #262628;
    font-family: $mainFont;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    text-align: left;
    margin-bottom: 64px;
    @include max(sm) {
      font-size: 25px;
      line-height: 28px;
      margin-bottom: 45px;
    }
    @include max(xs) {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 30px;
      text-align: center;
    }
  }
  &__flex{
    display: flex;
    @include max(sm) {
      justify-content: space-between;
    }
    @include max(xs) {
      display: block;
    }
  }
  &__item{
    $self: &;
    display: flex;
    align-items: center;
    cursor: pointer;
    + #{ $self }{
      margin-left: 75px;
      @include max(sm) {
        margin-left: 10px;
      }
      @include max(xs) {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
      }
    }
    &-img{
      margin-right: 15px;
      flex-shrink: 0;
      transition: transform 0.2s;
      @include max(xs) {
        width: 73px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
      }
      img{
        display: block;
        max-width: 100%;
      }
    }
    &-text{
      width: 125px;
      color: #69841c;
      font-family: $mainFont;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 14px;
      text-align: left;
      @include max(xs) {
        width: auto !important;
        max-width: 100%;
      }
    }
    @include min('sm'){
      &:hover{
        #{ $self }-img{
          transform: scale(1.1);
        }
      }
    }

    &--1{
      #{ $self }-text{
        width: 75px;
      }
    }
    &--2{
      #{ $self }-text{
        width: 90px;
      }
    }
    &--3{
      #{ $self }-text{
        width: 125px;
      }
    }
  }
  &__thanks{
    color: #91ab46;
    font-family: $mainFont;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    letter-spacing: 1.77px;
    display: none;
    @include max(sm) {
      text-align: center;
    }
  }
}