.table{
	border-collapse: collapse;
	width: 100%;
	td,th{
		padding: 12px 32px;
		font-size: $fs-main;
		font-weight: 400;
		&:not(:last-child){
			border-right: 1px solid #ffffff;
		}
	}
	th{
		background: $selectColor1;
		color: #ffffff;
	}
	td{
		background: #ffffff;
		color: $textTitleColor;
	}
	tr{
		&:nth-child(odd){
			td{
				background: $bgGrayColor;
			}
		}
		&:last-child{
			border-bottom: 1px solid $bgGrayColor;
		}
	}
}
