extends ../layouts/default

block vars
	-
		const page = {
			title: 'Калькулятор'
		};

block main
	.page-template.page-template-page-calc-event.qodef-content-grid-1300
		#qodef-page-outer
			include ../blocks/welcome.pug
			include ../blocks/advantages.pug
			include ../blocks/partners.pug
			include ../blocks/works.pug


			include ../blocks/pdf.pug