extends ../layouts/default

block vars
    -
        const page = {
            title: 'Калькулятор'
        };

block main
    .page-template.page-template-template-event-calc.qodef-content-grid-1300
        #qodef-page-outer
            include ../blocks/welcome2.pug
            include ../blocks/advantages2.pug
            include ../blocks/partners2.pug
            include ../blocks/works2.pug


            include ../blocks/pdf2.pug