extends ../layouts/default

block vars
  -
    const page = {
      title: 'Калькулятор'
    };

block main
  .page-template.page-template-template-event-calc.qodef-content-grid-1300
    #qodef-page-outer
      include ../blocks/welcome3.pug
      include ../blocks/advantages3.pug
      include ../blocks/partners3.pug
      include ../blocks/works3.pug

      include ../blocks/pdf3.pug
