extends ../layouts/default

block vars
  -
    const page = {
      title: 'Калькулятор'
    };

block main
  .page-template.page-template-template-event-calc.qodef-content-grid-1300
    #qodef-page-outer
      include ../blocks/welcome4.pug
      include ../blocks/pdf4.pug