@font-face {
	font-family: 'PF Din Text Cond Pro';
	src: url('../fonts/PFDinTextCondPro-Medium.woff2') format('woff2'),
	url('../fonts/PFDinTextCondPro-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

